
.myFooter{
	padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
	position:fixed;
    bottom: 0;
    width: 100%;
	
}
a{
	text-decoration:none;
	
}
#brand{
	color:white;
	text-decoration:none;
}
.navContainer{
	height:15px;
	
}
.myPanel{
    margin-top: 25%;
}
@media only screen and (max-width: 767px) {
  .navContainer {
    height:auto;
	
  }
}
