.myFooter{
	padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    position:fixed;
}
.myPanel{
	margin-left:25%;
	margin-right:25%;
}
.navContainer{
	height:15px;
	
}
#brand-name{
	color:white;
	text-decoration:none;
}
@media only screen and (max-width: 767px) {
  .navContainer {
    height:auto;
	
  }
}